html,body{
    overflow-x:hidden;
    font-size:100%;
    min-height:100%;
}

#content_container{
    width:100%;
    min-width:100px;
    max-width:640px;
    position:relative;
    margin:0;
    padding:0;
}

/*Header*/

#header{
    display:none;
}

#mobile-header{   
    background-color:#FCFCFC;
    height:auto;
}

div#portal-personaltools-wrapper{
    background-color:#FCFCFC;
}

#portal-personaltools a{
    font-size:110%;
}

#logo-container{
    height:55px;
    margin-bottom:10px;
}

#logolink{
    background:url(./images/tutorweb-logo.png) no-repeat center center;
    display:block;
    height:100%;
    width:100%;
    text-indent:-9999px;
}

    /*Menubar*/

#menubar{
    display:none;
}

.mobile-menu:before,
.mobile-menu:after{
    content: " ";
    display: table;
}

.mobile-menu:after{
    clear: both;
}

.mobile-menu{
    *zoom: 1;
}

nav.mobile-menu{
    height: auto;
    border-bottom: 0;
    width: 100%;
    background: #324a62;
}

nav.mobile-menu a:hover, nav a:active{
    background-color: #3A87BA;
}

nav.mobile-menu ul{
  	width: 100%;
  	display: none;
  	height: auto;
}

nav.mobile-menu li{
  	width: 100%;
  	float: left;
    position: relative;
}

nav.mobile-menu li a{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
	border-bottom: 1px solid #576979;
}

nav.mobile-menu a{
	text-align: left;
    width: 100%;
	text-indent: 25px;
    color: #fff;
    display: inline-block;
	text-decoration: none;
	line-height: 40px;
    font-family: 'Lato', Arial, sans-serif;
    font-size:16px;
}

nav.mobile-menu a#pull{
    display: block;
	background-color: #3A87BA;
	width: 100%;
	position: relative;
    font-size: 16px;
}

nav.mobile-menu a#pull:after{
	content:"";
	background: url('images/nav-icon.png') no-repeat;
	width: 30px;
	height: 30px;
	display: inline-block;
	position: absolute;
	right: 15px;
	top: 10px;
}


    /*Search*/
    
div#portal-searchbox{
    float:left;
    top:0;
    margin:0;
}

input#searchGadget{
    border:none;
}

div#LSResult{
    display:none !important;
    height:0;
}

fieldset.livesearchContainer{
    display:none !important;
}

legend#livesearchLegend{
     display:none !important;
}

input[type=text].searchField{
    background: #324a62 url(./images/search-icon.png) no-repeat 25px center;
    padding:5px 20px 5px 60px  !important;
    width:150px!important;
    color:transparent;
    cursor:pointer;
    top:0;
}

input[type=text].searchField[title]{
    font-size:0;
}    
    
input[type=text].searchField:focus[title]{
    font-size:12px;
    background-color:#324a62;
}

input[type=text].searchField:focus{
    padding:5px 20px 5px 60px  !important;
    width:240px!important;
    color:#FFF;
    cursor:auto;
    outline:none !important;
    outline-offset:none !important;
}

::-webkit-input-placeholder{
   color:#FFF;
   
}

:-moz-placeholder{ /* Firefox 18- */
    color:#FFF;
}

::-moz-placeholder{  /* Firefox 19+ */
   color:#FFF;
}

:-ms-input-placeholder{  
    color:#FFF;
}

/*Slider*/

.swiper-container{
    height:200px;
}  

.title{
  font-size: 22px;
  margin-bottom: 10px;
  text-align:center;
}

.slide-text a.button{
   padding:10px;
   color:#FCFCFC;
   border:1px solid #FCFCFC;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
}

div.pagination{
    zoom:1.5;
}

/*Vertical navigation*/

div#vertical-menu{
    width:100%;
}

nav.nav-collapse li a{
    font-size: 16px;
    width:100%;
    padding-bottom:3%;
    padding-top:3%;
    background-color: #324a62 !important;
    color:#FFF !important;
    border:none;
    border-bottom: 1px solid #576979 ;
    text-align:center;
    font-family: 'Lato', Arial, sans-serif;
}

.nav-collapse li{
    width:100%;
}

.nav-collapse li:last-child a{
    border-bottom: 0;  
}

.nav-collapse a:hover{
    color:#fff !important;
    background-color:#3A87BA !important;  
    border-top:none;

}

ul.navTree{
    margin:0;
}

.js .nav-collapse{
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;
}

.nav-collapse.opened{
    max-height: 9999px;
}

.disable-pointer-events{
    pointer-events: none !important;
}

.nav-toggle{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.nav-toggle{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    text-indent: -999px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 55px;
    float: left;
}

.nav-toggle:before{
    color: #3A87BA;
    content: "Departments \f078";
    font-family: 'Lato', Arial, sans-serif, FontAwesome;
    font-style: normal;
    text-decoration: inherit;
    font-size:18px;
    position: absolute;
    text-indent: 0;
    text-align: center;
    line-height: 45px;
    speak: none;
    width: 100%;
    top: 0;
    left: 0;
}

.nav-toggle.active::before {
    font-size: 18px;
    font-family: 'Lato', Arial, sans-serif, FontAwesome;
    content:"\f077";
}

.nav-collapse a{
    color: #fff;
    text-decoration: none;
    width: 100%;
    border-bottom: 1px solid white;
    padding: 0.7em 1em;
    float: left;
}

/*Content*/
div#portal-column-content{
    width:100%;
    margin-left:-100%;  
    clear:both;
}

div#portal-column-content, div dd#fieldset-courses, div dd#fieldset-tutorials, div dd#fieldset-lectures,
div dd#fieldset-slides, table.listing a{
    width:100%;
    overflow:hidden;
}

div dd#fieldset-courses, div dd#fieldset-tutorials, div dd#fieldset-lectures,
div dd#fieldset-slides{
    overflow:auto;
}

div#content h1.documentFirstHeading{
    font-size:22px;
}

div#portal-breadcrumbs{
    padding:2% 0 20px 13px;
    margin-bottom:0 !important;
    border:none;
}

#content-core ul.tw-actions li{
    display:block;
    width:auto;
}

#content-core ul.tw-actions li:first-child{
    margin-bottom:20px; 
}

#content-core ul.tw-actions li a{
    font-size:14px;
}

div#portal-footer p{
    display:none;
}


/*Adjustment for smartphones with screen size over 600px*/

@media screen and (min-width: 600px){
    #content_container{
        min-width:600px;
    }
}

/*Adjustment for smartphones with screen size under 320px*/

@media only screen and (max-width : 320px){
    .text{
        font-size: 14px;
    }
    
    .title{
        font-size: 20px;
        margin-bottom: 5px;
     }
}

/*Adjustment for smartphones with screen size under 240px*/


@media screen and (max-width: 240px) {
    #logo-container{
        zoom:0.7;
    }
    
    nav.mobile-menu li a{
        text-indent: 15px;
    }
    
    .swiper-container {
        display:none;
    } 
    
    input[type=text].searchField:focus{
        padding:5px 20px 5px 52px;
        width:90px!important;
        color:#FFF;
        cursor:auto;
    }
    
    input[type=text].searchField:focus[title]{
        font-size:12px;
        background-color:#324a62;
    }
    
    div#content h1.documentFirstHeading{
       font-size:18px;
    }
}

/*Adjustment for smartphones with screen size under 200px*/


@media screen and (max-width: 200px) {
   nav.mobile-menu, div#portal-personaltools-wrapper, div#vertical-menu, div#portal-column-content{
       zoom:0.8;
   }
   
   div#content h1.documentFirstHeading{
       font-size:16px;
   }
}


    


    






