html{
    height:100%;
}

body{
    background-color:#FFF;
}

#container{
    padding-bottom:0;
    background-color:#FFF;
    height:inherit;
    width:auto;
    margin:0 auto;
    position:relative;
}

#content_container{
    width:auto;
    min-width:900px;
    max-width:90%;
    margin:0 auto;
    position:relative;
}

#clearfix{
    clear:both;
} 

/* Header */

#header{
    height:auto;
    background-color:#FCFCFC;
    width:auto;
    margin:0 auto;
    position:relative;
}

dl#portal-personaltools{
    background:none;
    padding-right:0;
}

ul#portal-personaltools{
    background:none;
}

div#portal-personaltools-wrapper{
     height:30px !important;
     background-color:#FCFCFC;
}

#portal-personaltools a{
    font-size:110%;
    color:#006891;
    font-family: 'Lato', sans-serif;
}

#portal-logo{
    margin:0em !important;
}
#tutorweb-logo{
    margin-bottom:12px;
    width:205px;
    height:58px;
}

    /* Search */

div#portal-searchbox{
    float:right;
    clear:none; 
    margin-top:20px;
    margin-right:1px;
    margin-bottom:12px;
}

input#searchGadget{
    height:25px;
    width:170px;
    padding-left:5px;
    border:1px solid #C9C9C9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

input.searchField{
    -moz-appearance: none;
}

div#LSResult{
    position: absolute;
    right: 0;
    background: White;
    margin-top:10px;
    border:1px solid #d6d6d6;
    z-index:2;
}

div#LSResult fieldset{
    padding: 0;
    margin:0;
    border:none;
}

div#livesearchLegend{
    background-color:#ccc;
    padding:0;
    margin:0;
}

div.field{
    padding-left:6px;
}

div#search-filter{
    z-index:2;
}

input[type=text].searchField{
    padding-left: 10px !important;
    padding-top:0;
    padding-bottom:2px;
}

input[type=text].searchField:focus{
    padding-left:10px !important;
}

::-webkit-input-placeholder{
   font-family: 'Lato', sans-serif;
   font-size:12px;
   
}

:-moz-placeholder{ /* Firefox 18- */
    font-family: 'Lato', sans-serif;
    font-size:12px;
}

::-moz-placeholder{  /* Firefox 19+ */
   font-family: 'Lato', sans-serif;
   font-size:12px;
}

:-ms-input-placeholder{  
    font-family: 'Lato', sans-serif;
    font-size:12px;
}

/* Menubar */

#menubar{
    background-color:#3A87BA;
    overflow:auto;
}

#menubar li{
    list-style: none;
    font-size: 16px;
    line-height: 1;
}

#menubar li a{
    display: block;
    text-decoration: none;
    color:#FFF;
    text-align:center;
    float: left;
    padding-top:1%;
    padding-bottom:1.5%;
    margin-right:30px;
    border-top: 4px solid #3A87BA; 
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform:uppercase;
    font-size:12px;
}

#menubar li a:hover{
    border-top: 4px solid #002f42;
}

/* Banner-slider */

#banner-overlays img{
    height:285px;
    width:100%;
    position:relative;
}

#text-container{
    width:auto;
    height:auto;
    position:relative;
}

#banner-text{
    position:absolute;
    top:10%;
    color:#FFF;
    width:45%;
    left:0;
    right:0;
    font-family: 'Lato', sans-serif;
    text-align:center;
}

#banner-text h2{
    font-size:36px;
}

#banner-text h3{
    font-size:28px;
}

#banner-text p{
    font-size:16px;
    color:#f2f2f2;
    margin-bottom:20px;
}

#banner-text h2, #banner-text h3{
    color:#F2f2f2;
    padding-bottom:5px;
    font-family: 'Lato', sans-serif;
}

#banner-text a{
    color:#FFF;
    border:1px solid #FFF;
    padding:7px;
    border-radius:3px; 
}

#banner-text a:hover{
    background-color:#3A87BA;
    border-color:#3A87BA;
}


/* Vertical navigation*/

#vertical-menu{
    float:left;
    width:14%;
    margin-top:3%; 
    margin-right:6%;
}

.fixed{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav-collapse,
.nav-collapse *{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul{
  list-style: none;
  width: 100%;
  float: left;
}

.nav-collapse li{
  float: left;
  width: 100%;
}

div .nav-collapse li a{
    font-size: 16px;
    width:100%;
    padding-bottom:8%;
    padding-top:8%;
    border-top:3px solid #cccccc;
    text-transform:uppercase;
    font-size:12px;
    font-weight:400;
}

.nav-collapse li:last-child a{
    border-bottom:3px solid #CCCCCC; 
}

.nav-collapse a{
  color: #002f42 !important;
  text-decoration: none;
  width: 100%;
  font-family: 'Lato', sans-serif;
 
}

.nav-collapse a:hover{
    color:#3A87BA !important;
    border-top:3px solid #3A87BA;
}



/*Content*/

div#portal-column-content{
    position:relative;
    margin-top:3%;
    background-color:#f2f2f2;
    Width:78.5%;
    border: 1px solid #ebebeb; 
    font-family: 'Lato', sans-serif;
}

div#portal-breadcrumbs{
    float:left;
    padding:2% 0 10px 14px;
    margin-bottom:none;
    font-family: 'Lato', sans-serif;
}

h1.documentFirstHeading{
    font-family: 'Lato', sans-serif;
    color:#002f42;
    font-size:26px;   
}

div#content{
    padding:0 10px 0 10px;
    margin-bottom:0;
}

body.template-search div#portal-column-content {
    width:100%;
    float:left;
    background:none;
    border:none;
}

body.template-search div#portal-column-content, body.template-logged_out div#portal-column-content,
body.template-login_form div#portal-column-content{
    width:100%;
    float:left;
}

body.template-search div#vertical-menu, body.template-logged_out div#vertical-menu,
body.template-login_form div#vertical-menu{
    width:0;
    margin:0;
}

body.template-search div#portal-breadcrumbs, body.template-logged_out div#portal-breadcrumbs,
body.template-login_form div#portal-breadcrumbs{
    display:none;
}

body.template-logged_out h1.documentFirstHeading, body.template-logged_out div.documentDescription{
    float:left;
    clear:both;
    margin-bottom:20px;
}

    /*Courses-tutorials tabs*/
    
div#content ul.formTabs{
    display: block;
    margin-left: 0;
    background-color:#3A87BA;
    padding-top:3px;
    padding-left:10px;
    margin-top:20px;
    border:none;
    font-family: 'Lato', sans-serif;
    font-weight:700;
}

#content-core li.formTab a {
    line-height: 2.04em;
    padding: 1 0.75em ;
    text-decoration: none;
    border: none;
    margin: 0 ;
    color:#FFF;
    font-size:12px;
}

div#content-core li.formTab a.selected,
div#content-core li.formTab a:hover {  
    background: #F2F2F2;
    color: #002f42 !important;
}

div#content dl.enableFormTabbing dd{
    padding-top:0;
}
    
    /*Content table*/

div#content table.listing{
    width:100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    border:none;
}

div#content table.listing a:hover{
    text-decoration:underline;
    color:#205c90 !important;
}

div#content table.listing a:visited{
    color:#205c90;
}

div .listing thead th{
    font-size:14px;
    color:#182945;
    background-color:#e0e0e0;
    padding:6px 6px 6px 3px;
    text-align:left;
    font-weight:700;
}

div#content .listing tbody td{
    padding:6px 6px 6px 6px;
    font-size:14px;
    text-align:left;
    background-color:#FFF;
}

div#content table.listing td{
    border:none;
}



div dd#fieldset-courses, div dd#fieldset-tutorials, div dd#fieldset-lectures,
div dd#fieldset-slides{
    margin:0;
    overflow:auto;
} 

#content-core ul{
    margin-top:20px;
    margin-bottom:20px;
    text-decoration:none;
}

#content-core ul.tw-actions{
    margin-top:20px;
    margin-left:0;
    margin-bottom:30px;
}

#content-core ul.tw-actions li{
    display:inline;
    margin-right:20px;
    text-decoration:none;
}


div#content-core ul.tw-actions li a {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333 !important;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

div#content-core ul.tw-actions li a:hover,
div#content-core ul.tw-actions li a:focus,
div#content-core ul.tw-actions li a:active{
  color: #333333 !important;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

div#content-core ul.tw-actions li a:first-child {
  *margin-left: 0;
}
div#content-core ul.tw-actions li a:hover,
div#content-core ul.tw-actions li a:focus {
  color: #333333 !important;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}
div#content-core ul.tw-actions li a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

div#content-core ul.tw-actions li a:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}


/*Footer*/

div#portal-footer{
    background-color:#3A87BA;
    height:auto;
    margin-top:5%;
    margin-bottom:0;
    position:relative;
    bottom:0;
}

div#portal-footer p{
    font-size:12px;
    text-align:center;
    text-decoration:none;
    padding-top:10px;
    color:#FFF;
}

div#portal-footer p a{
   text-decoration:none;
   color:#FFF;
}   

div#portal-footer p a:hover{
   text-decoration:underline;
}

/*Adjustment for devices with screen size over 480px*/

@media screen and (min-width: 480px) {
    #banner-text{
        margin:auto;
    }
}

/*Adjustment for devices with screen size over 701px*/

@media screen and (min-width: 701px) {
    #content_container{
        min-width:500px;
        max-width:90%
    }
    
    .readmore{
        display:none;
    }
    .nav-collapse li{
        width: 25%;
        *width: 24.9%; /* IE7 Hack */
        _width: 19%; /* IE6 Hack */
    }
    
    .nav-collapse a{
        margin: 0;
        padding: 1em;
        float: left;
        text-align: center;
        border-bottom: 0;
        border-right: 1px solid white;
    }
    
    .nav-collapse ul ul a{
      display: none;
    }
    
    #mobile-header{
      display:none;
    }
    
    .js .nav-collapse{
        position: relative;
    }
    
    .js .nav-collapse.closed{
        max-height: none;
    }
    
    .nav-toggle{
        display: none;
    }
    
    .nav-collapse ul{
        padding: 0;
        margin: 0 0 0 1%; 
    }
    .nav-collapse li{
        width: 100%;
        display: block;
    }
}


/*Adjustment for devices with screen size under 1024px*/

@media screen and (max-width: 1024px) {
    #content-core ul.tw-actions li{
        display:block;
        width:auto;
        margin-bottom:20px;
    }
    
    #banner-text{
        width:60%;
    }
}

/*Adjustment for devices with screen size under 800px*/

@media screen and (max-width: 800px) {
    #banner-text{
        width:80%;
    }
    
    #text-container{
        padding-bottom:2%;
    }
}

/*Adjustment for devices with screen size over 1500px*/

@media screen and (min-width: 1500px) {
    #content_container{
        max-width:1300px;
    }
    #banner-overlays img{
        height:360px;
    }
    
    #banner-text{
        top:50px;
        width:40%;
    }
    
    #menubar li a{
        font-weight: 700;
    }
    
    div .nav-collapse li a{
        font-weight:700;
    }
}